body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

aside nav {
    background-color: #333;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

aside nav ul li a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

aside nav ul li a:hover {
    background-color: #444;
}

.hero {
    background: url('fondo.jpg') center/cover no-repeat;
    color: #fff;
    padding: 2em;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    margin-top: 1em;
    text-decoration: none;
    border-radius: 5px;
}

.servicios-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
}

.servicio {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
}

.servicio img {
    width: 100%;
    border-radius: 5px;
}

.img-galeria {
    width: 100%;
    margin-top: 1em;
    border-radius: 5px;
}

#horarios, #videos, #contacto {
    padding: 1em;
    background-color: white;
    margin-top: 1em;
}

video {
    margin-bottom: 1em;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}


@media (min-width: 768px) {
    .servicios-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .servicio {
        width: 30%;
    }

    aside nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .img-galeria {
        width: 48%;
    }
}